@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 30 30 30;
  --foreground: 255 255 255;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Rest of the existing styles... */

.rubik-pixels {
  font-family: 'Rubik Pixels', cursive;
}